<%- include('../partials/header') -%>
    <%- include('../partials/navbar') -%>
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-3">
                    <img src="<%= '/images/' + user.avatar %> " height="150px" width="150px">
                </div>
                <div class="col-md-9">

                    <h1 class="display-4">Profile </h1>

                    <hr>

                    <%- include('../partials/flashMessages') -%>

                        <p>
                            <% if (user) { %>
                                Welcome <%= user.email %>
                                    <% } %>
                        </p>

                        <form action="/users/uploadAvatar" method="post" enctype="multipart/form-data">
                            <input type="file" name="avatar" id="avatar" onchange="readURL(this)">
                            <button type="submit" class="btn btn-primary" id="uploadButton" style="display: none;">Upload</button>
                            <button type="button" class="btn btn-danger" id="cancelButton" style="display: none;" onclick="cancelBTN()">Cancel</button>
                        </form>

                        <hr>

                        <h1 class="display-4 mr-5" id="titleImagePlaceHolder" style="display: none;">Image Preview:</h1>
                        <img class="ml-5" src="#" alt="" id="imagePlaceHolder" height="150px" width="150px" style="display: none;">

                </div>
            </div>
        </div>


        <%- include('../partials/footer') -%>